@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#header1-b B {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
}
#header1-b H1 {
  text-align: left;
}
#header1-b P {
  color: #d9534f;
  font-size: 22px;
}
#header1-b FONT {
  font-family: 'Roboto Condensed', sans-serif;
}
#footer1-c P {
  color: #000000;
}







#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .navbar-brand a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #000000;
}
#footer1-h P {
  color: #000000;
}
#content5-10 .mbr-section-title {
  color: #d9534f;
}
#content5-10 P {
  color: #000000;
}
#msg-box2-24 H2 {
  color: #d9534f;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
#features1-21 H4 {
  color: #1b3671;
  font-size: 16px;
}
#msg-box2-25 H2 {
  color: #d9534f;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#msg-box4-1r .mbr-section-title {
  text-align: center;
  color: #d9534f;
  font-size: 30px;
}
#msg-box4-1r .lead P {
  text-align: right;
}
#msg-box4-1r .lead {
  text-align: right;
  color: #1b3671;
}
#msg-box4-1r .mbr-section-title B {
  font-family: 'Lato', sans-serif;
}
#msg-box4-26 .mbr-section-title {
  text-align: center;
  color: #d9534f;
  font-size: 30px;
}
#msg-box4-26 .lead P {
  text-align: right;
}
#msg-box4-26 .lead {
  text-align: right;
  color: #1b3671;
}
#msg-box4-26 .mbr-section-title B {
  font-family: 'Lato', sans-serif;
}
#msg-box4-27 .mbr-section-title {
  text-align: center;
  color: #d9534f;
  font-size: 30px;
}
#msg-box4-27 .lead P {
  text-align: right;
}
#msg-box4-27 .lead {
  text-align: right;
  color: #1b3671;
}
#msg-box4-27 .mbr-section-title B {
  font-family: 'Lato', sans-serif;
}
#msg-box2-23 H2 {
  color: #d9534f;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
#features1-y P {
  text-align: center;
  font-size: 15px;
}
#features1-y B {
  color: #89726f;
}
#features1-y H4 {
  color: #89726f;
}


#slider-17 H2 {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
}
#slider-17 P {
  color: #1b3671;
  font-size: 19px;
}
#slider-17 B {
  font-size: 30px;
  color: #d9534f;
}
#dropdown-menu-2btn-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-m .navbar-brand a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-m .nav .link,
#dropdown-menu-2btn-m .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-m .navbar,
#dropdown-menu-2btn-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-m .dropdown-menu a:hover,
#dropdown-menu-2btn-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-m .navbar-toggler {
  color: #000000;
}
#msg-box4-1k .mbr-section-title {
  color: #d9534f;
}
#msg-box4-1k .lead {
  text-align: left;
}
#footer1-p P {
  color: #000000;
}

#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .navbar-brand a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #000000;
}
#footer1-t P {
  color: #000000;
}
#header4-1c H1 {
  color: #d9534f;
  font-size: 48px;
}
#header4-1c P {
  color: #5a5c5e;
  font-size: 20px;
}



#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .navbar-brand a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #000000;
}
#footer1-x P {
  color: #000000;
}
#msg-box4-1e .mbr-section-title {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 24px;
  color: #000000;
}
#form1-1d .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  color: #d9534f;
}
